# EditorConfig: http://EditorConfig.org
# VSIX: https://visualstudiogallery.msdn.microsoft.com/c8bccfe2-650c-4b42-bc5c-845e21f96328

# top-most EditorConfig file
root = true

# Windows-style newlines with a newline ending every file
[*]
end_of_line = crlf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,py,cs}]
charset = utf-8

# Tab indentation (no size specified)
[*.{cs,tt,ttinclude}]
indent_style = tab

# 1 space indentation
[*.config]
indent_style = space
indent_size = 1

# 2 space indentation
[*.resx]
indent_style = space
indent_size = 2

# Indentation override for all JS under lib directory
[lib/**.js]
indent_style = space
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
